.user {
  display: inline-block;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  /* overflow: hidden; */
  object-fit: cover;
}

.profile-picture { 
  max-width: 100%;
  height: auto;
}

.profile-picture img {
  max-width: 100%;
  height: auto;
  display: block;
}

.profile-picture {
  width: 150px;
  height: 150px;
  overflow: hidden;
  border-radius: 50%;
}